:root {
  --shadow: 2px 4px 15px #00000014;

  --font1: "AlexBrushRegular", sans-serif;
  --font2: "Priestacy", serif;
  --font3: "RusticRoadway", sans-serif;
  --font4: "Transcity", serif;
  --font5: "WhisperingSignature", sans-serif;
  --font6: "Beautiful", sans-serif;
  --font7: "Nicholas", sans-serif;

  --current-font: var(--font2);

  /* Base */

  --color-bg-main: #dfb6d400;
  --color-bg-1: #f7f9ff;
  --color-bg-2: #f8f8ff;
  --color-bg-3: #faf8ff;
  --color-bg-4: #fbf7fe;
  --color-bg-5: #fdf7fd;
  --color-bg-6: #fef7fb;
  --color-bg-7: #fef7f9;
  --color-bg-8: #fff7f8;
  --color-bg-9: #fff7f7;

  /* Hero */
  --color-overlay: rgba(0, 0, 0, 0.46);

  /* UI */
  --br: 8px;
  --bs: rgba(0, 0, 0, 0.03) 0px 10px 25px;
  --transition-base: 1.2s ease;
}

/* Closed */
.closed {
  height: 10vh;
}
.imgShadow {
  filter: drop-shadow(var(--shadow));
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #190114a8;
}

/* GLOBAL */
.imgScreen {
  width: 100vw;
  border: red solid 1px;
}

.paddingSection {
  padding: 120px 24px;
  position: relative;
}

.container {
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.small {
  max-width: 880px;
}
.row {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 64px;
}
.spb {
  display: flex;
  justify-content: space-between;
}
.grow50 {
  gap: 64px;
}
.grow50 > * {
  flex: 1;
  text-align: left;
}
.bg-1 {
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    var(--color-bg-main),
    var(--color-bg-2)
  );
}
.bg-2 {
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    var(--color-bg-main),
    var(--color-bg-3)
  );
}
.bg-3 {
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    var(--color-bg-main),
    var(--color-bg-4)
  );
}
.bg-4 {
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    var(--color-bg-main),
    var(--color-bg-5)
  );
}
.bg-5 {
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    var(--color-bg-main),
    var(--color-bg-6)
  );
}
.bg-6 {
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    var(--color-bg-main),
    var(--color-bg-7)
  );
}
.bg-7 {
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    var(--color-bg-main),
    var(--color-bg-8)
  );
}
.bg-8 {
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    var(--color-bg-main),
    var(--color-bg-9)
  );
}
.rounded-img {
  border-radius: 150px 150px 0 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1,
h2 {
  font-family: var(--current-font);
  span {
    font-family: var(--font7);
    font-size: clamp(3rem, 4vw, 3.025rem);
  }
}

h1 {
  font-weight: 300;
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: clamp(2.5rem, 3.5vw, 5rem);
  margin-bottom: 4vh;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 1.525rem);
  margin-bottom: 2vh;
  display: flex;
  font-weight: 500;
  flex-direction: column;
  gap: 22px;
}

h3,
.h3 {
  font-family: Inter, system-ui, sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 6px;
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  span {
    font-family: var(--font6);
    font-size: 24px;
    opacity: 0.7;
  }
}
p {
  letter-spacing: 0.04rem;
  font-weight: 200;
  line-height: 1.6;
}
.accent {
  color: var(--color-accent);
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background: linear-gradient(
    var(--color-bg-1),
    /* var(--color-bg-2), */ var(--color-bg-3),
    /* var(--color-bg-4), */ var(--color-bg-5),
    /* var(--color-bg-6), */ var(--color-bg-7),
    /* var(--color-bg-8), */ var(--color-bg-9)
  );
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.08em;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: montserrat, sans-serif;
  color: inherit;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

.mb-6vh {
  margin-bottom: 6vh;
}
/* BUTTONS */
.button {
  padding: 14px 40px;
  text-decoration: none;
  display: inline-block;
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.04rem;
  line-height: 1;
  border: #410c22 solid 1px;
  color: inherit;
}
.btn:hover {
  transform: translateY(-1px);
  box-shadow: rgb(158 107 117 / 28%) 0px 10px 30px 0px;
}
.btn {
  backdrop-filter: blur(2px);
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    #fff8fdcf,
    #f5f4fc29,
    #ffffff00
  );
  box-shadow: rgb(158 107 138 / 18%) 0px 4px 30px;
  border: 1px solid rgb(255 255 255);
  border-radius: 50px;
  padding: 12px 40px;
  transition: all 0.3s ease;
  color: #1901148f;
}
.link {
  padding: 14px 0;
  display: inline-block;
  color: inherit;
  font-size: 0.9rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  opacity: 0.7;
}
/* CARDS */
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  /* box-shadow: rgb(84 56 73 / 7%) 0px 4px 30px; */
}
.card {
  flex: 46%;
  border: #fffdfe87 solid 2px;
  backdrop-filter: blur(6px);
  background-color: #ffffff5c;
  padding: 36px;
  border-radius: 8px;
  text-align: left;
}

/* SEPARATORS */
.separatorSection {
  img {
    width: 146px;
  }
}
.separator {
  height: 2px;
  width: 56%;
  background: linear-gradient(90deg, #e6646500, #81543961, #12d21d00);
  margin-block: 24px;
}
.separator.vertical {
  height: 200px;
  width: 1px;
  background: linear-gradient(357deg, #e6646500, #ffffff4f, #12d21d00);
  margin-block: 0;
  margin-inline: 10px;
}

.separator.light {
  background: linear-gradient(
    90deg,
    rgba(230, 100, 101, 0),
    rgb(217 210 191 / 25%),
    rgba(18, 210, 29, 0)
  );
}

/* NAV */
.doc {
  color: #5f3928;
  fill: #5f3928;
  stroke: #5f3928;
  position: relative;
  background-color: #dec6bb;

  span {
    color: inherit;
  }
}
.instagram {
  position: absolute;
  inset: auto 10vw 10vw auto;
}
nav {
  position: absolute;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: space-between;
  padding: 24px 48px;
  align-items: center;
  backdrop-filter: blur(1px);
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    #fff8fd54,
    #f5f4fc0d,
    #ffffff00
  );
  box-shadow: rgb(158 107 138 / 6%) 0px 4px 30px;
  border: 1px solid rgb(255 255 255 / 28%);
  .navLinks {
    display: flex;
    gap: 32px;
    text-transform: capitalize;
    letter-spacing: 0.04rem;
    font-size: 18px;
  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}

/* SECTIONS */

/* Section Hero */
#hero {
  position: relative;
  min-height: 60vh;
  background-image:
    linear-gradient(rgb(255 255 255 / 54%), rgb(251 251 251 / 36%)),
    url(../assets/hero-bg.webp);

  background-position: center, center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  place-content: center;
}
#hero.hero_Soin {
  background-image:
    linear-gradient(rgb(255 255 255 / 54%), rgb(251 251 251 / 36%)),
    url(../assets/Hero_soin.webp);
}
#hero.hero_Formations {
  background-image:
    linear-gradient(rgb(255 255 255 / 54%), rgb(251 251 251 / 36%)),
    url(../assets/heroFormations.webp);
}
#hero.hero_About {
  background-image: linear-gradient(
    rgb(255 255 255 / 54%),
    rgb(251 251 251 / 36%)
  );
}

/* Section Quote */
.quote {
  padding-top: 100px;
  img {
    width: 120px;
  }
  .container {
    max-width: 640px;
  }
  span {
    font-style: italic;
  }
}

/* Section Presentation */
#about {
  background-image:
    radial-gradient(#ffffff, #fffafdd6), url("../assets/about-bg.webp");

  background-position: center, center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
#about.reverse {
  transform: scale(-1, 1);
  .reverse {
    transform: scale(-1, 1);
  }
  .about_image-large {
    scale: 1.3;
    filter: opacity(0.8);
  }
  .about_image-1 {
    margin-bottom: 10vh;
  }
  .btn{
    background: radial-gradient(ellipse farthest-corner at 10% 10%, #fff8fdcf, #84b04421, #ffffff00);
  }
}

.about_content-2-left {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  display: flex;
  flex: 1 1 480px;
  max-width: 701px;
  padding-right: 10vw;
  text-wrap-style: pretty;
}
.about_content-2-left.right {
  padding-left: 10vw;
  padding-right: 0;
}

.about_image {
  flex-flow: column;
  align-items: center;
  display: flex;
  position: relative;
  flex: 1 1 480px;

  .about_image-1 {
    width: 100%;
    max-height: 670px;
    padding-left: 6vw;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: end;

    .about_image-large {
      object-fit: cover;
      height: 100%;
      max-height: 670px;
    }
  }

  .about_image-2 {
    height: 44vh;
    position: absolute;
    inset: 50% auto auto -5vw;
    transform: translateY(-50%);
  }

  .about_image-absolute {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.about_image.invert {
  .about_image-1 {
    padding-left: 0;
    padding-right: 10vw;
  }
  .about_image-2 {
    inset: auto 4% -14% auto;
    transform: none;
  }
}

/* Section Services */
#services {
  background-image:
    radial-gradient(#e189bb14, #ffffff85), url(../assets/services-bg.webp);
  background-position: center, center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
/* Section Deroulement Seance */
#deroulementSeance {
  background-image:
    radial-gradient(#c7b8c324, #ffffffbf), url(../assets/deroulement.webp);
  background-position: center, center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

/* section Testimonial */
#testimonial {
}
.temoignage {
  text-align: right;
  width: 93%;
  margin-left: auto;
  text-wrap-style: balance;
  display: flex;
  flex-direction: column;
  color: #716571;
  font-style: italic;
  font-size: 0.9rem;
}

/* Section Articles */
.article {
  max-width: 800px;
  margin: auto;
  margin-bottom: 24px;
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    var(--color-bg-main),
    #ffffff
  );
  box-shadow: rgb(158 107 117 / 10%) 0px 10px 30px 0px;
  border: #fefefe42 1px solid;
  border-radius: 10px;
  padding: 24px;
  cursor: pointer;
}

/* Page About  */
#about-page {
  #hero {
    padding: 180px 24px 140px;
    min-height: 60vh;
    background-image:
      radial-gradient(#c7b8c324, #ffffffbf), url(../assets/deroulement.webp);
  }

  #intro {
    .container {
      max-width: 1240px;
      gap: 5vw;
      .about_content-2-left {
        padding-right: 0;
      }
      .about_image {
        flex: 0 0 480px;
        .about_image-1 {
          padding-left: 0vw;

          width: 100%;
          .about_image-large {
            width: 100%;
            max-height: none;
          }
        }
      }
      .about_image-2 {
        display: flex;
        gap: 18px;
        .virginie {
          flex: 50%;
          max-width: 50%;
          border-radius: 4px;
          object-fit: cover;
        }
      }
    }
  }

  #services {
    background-image:
      radial-gradient(#e189bb14, #ffffff85), url(../assets/about-avenir-bg.webp);
  }
  #about {
    background-image:
      radial-gradient(#e189bb14, #ffffff85),
      url(../assets/about-services-bg.webp);
    .container {
      justify-content: end;
    }
    .about_content-2-left {
      flex-flow: column;
      text-align: right;
      display: flex;
      flex: 1 1 480px;
      max-width: 640px;
      text-wrap-style: balance;

      padding-right: 0;
    }
  }
  #ecoles {
    background-image:
      radial-gradient(#e189bb14, #ffffff85), url(../assets/about-avenir-bg.webp);
    background-position: center, center;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    h2 {
      margin-bottom: 6vh;
    }
    ul {
      list-style: none;
      margin-block: 24px;
      gap: 2px;
      display: flex;
      flex-direction: column;
    }
  }
}

/* section galerie */
#galerie {
  background-color: #fff9f7;
}

.gallery-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 300px;
  position: relative;
  cursor: grab;
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 40px;
}

.gallery-container.dragging {
  cursor: grabbing;
}

.gallery-container img {
  height: auto;
  max-height: 280px;
  margin-right: 10px;
  transition: transform 0.2s ease;
}

.gallery-container img:hover {
  transform: scale(1.04);
}

/* section Cta */
section#cta {
  padding: 120px 24px;
}

/* Page soin */
#soins,
#formations {
  display: flex;
  flex-direction: column;
  .article {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 800px;
  }
}
#tag-wrapper {
  gap: 20px;
  max-width: 1000px;
}
.tag {
  color: #0c081ccc;
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    #e9e5fb82,
    #ffffff42
  );
  backdrop-filter: blur(3px);
  box-shadow: rgb(158 107 117 / 10%) 0px 10px 30px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(136 36 84 / 6%);
  border-radius: 50px;
  padding: 8px 21px;
  list-style: none;
}

/* footer */
footer {
  padding: 1rem 1rem 1rem;
  background-color: #d67e607a;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;

  a {
    text-decoration: underline;
  }

  p {
    margin: 0;
    color: rgb(79 38 19 / 73%);
  }
}

/* Animations */
/* #hero .container {
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

@font-face {
  font-family: "Priestacy";
  src: url("../fonts/Priestacy.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "AlexBrushRegular";
  src: url("../fonts/AlexBrushRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RusticRoadway";
  src: url("../fonts/RusticRoadway.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Transcity";
  src: url("../fonts/Transcity.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WhisperingSignature";
  src: url("../fonts/WhisperingSignature.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Beautiful";
  src: url("../fonts/Beautiful.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nicholas";
  src: url("../fonts/Nicholas.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes parallax-scroll {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-500px);
  }
}

@media (max-width: 768px) {
  .vertical {
    display: none;
  }
}

/* animation très douce highlight card */
@keyframes zenBorder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* animation bannière */
@keyframes softGlow {
  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.6;
  }
}

/* Styles pour mobile */
@media (max-width: 768px) {
  h1,
  h2,
  h3 {
    line-height: 1.6;
  }
  .hide-mobile {
    display: none;
  }
  nav {
    justify-content: center;
    padding: 14px;
    align-items: center;
    backdrop-filter: blur(2px);
    background: radial-gradient(
      ellipse farthest-corner at 10% 10%,
      #fff8fdcf,
      #f5f4fc29,
      #ffffff00
    );
    box-shadow: rgb(158 107 138 / 18%) 0px 4px 30px;
    border: 1px solid rgb #ffffff (255 255 255);
    .btn {
      display: none;
    }
  }
  nav .navLinks {
    gap: 18px;
  }

  #soins,
  #formations {
    .article {
      width: 100%;
    }
  }
}
